<html>
    <head>
        <title>Channel</title>
        <h1>?Channel</h1>
    </head>
    <body>
        <form id="form">
            <input type="text" name="message">

        </form>
        <div id="message"></div>
    
        <script>
         let url=`ws://${window.location.host}/wc/sc/`
         const chatsocket=new WebSocket(url)
        
         chatsocket.onmessage=function(e){
            let data=JSON.parse(e.data)
            console.log("Data",data);
            if(data.type==='chat'){
                let message=document.getElementById('message')
                message.insertAdjacentHTML('beforeend',`<div>
                    <p>${data.message}</p></div>`)
            }
         } 

         let form =document.getElementById('form')
         form.addEventListener('submit',(e) =>{
            e.preventDefault()
            let message=e.target.message.value
            chatsocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
         })

            
        </script>
    </body>
</html>